// Failure.less

.failure-popup {
  position: fixed;
  top: calc(50vh - 1 / 2 * 270px);
  left: 0;
  right: 0;

  width: 320px;
  min-height: 289px;

  box-sizing: border-box;
  margin: auto;
  padding: 38px 20px 0;

  background-color: var(--white);
  box-shadow: 0 7px 15px var(--shadow);
  border-radius: 1px;

  @media (min-width: @tablet-width) {
    padding-top: 41px;
    width: 460px;
    min-height: 363px;
  }

  @media (min-width: @desktop-width) {
    width: 780px;
    min-height: 377px;
    padding-left: 0;
    padding-right: 0;
  }
}

.failure-popup__text-wrapper {
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    margin-bottom: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 64px;
  }
}

.failure-popup__heading {
  .no__margin-padding();
  margin-bottom: 26px;

  font-size: 18px;
  font-weight: 700;
  text-align: center;

  color: var(--black);

  @media (min-width: @tablet-width) {
    width: 220px;
    margin: 0 auto 22px;

    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 330px;
  }
}

.failure-popup__text {
  .no__margin-padding();

  text-align: center;

  @media (min-width: @tablet-width) {
    width: 300px;
    margin: 0 auto;

    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    width: 360px;
  }
}

.failure-popup__close-button-wrapper {
  padding-bottom: 52px;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    margin: 0;
    padding-top: 50px;

    background-color: var(--grey);
  }
}

.failure-popup__button-wrapper {
  display: flex;
}

.failure-popup__close-button {
  padding: 15px 0;
  width: 276px;
  margin: 0 auto;

  text-transform: uppercase;

  .button();

  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 296px;
  }
}
