.information__features-list {
  position: relative;

  padding-bottom: 325px;
}

.information__features-list::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 157px;
  height: 320px;

  background-image: url("../../img/index__images/features-phone.jpg");
  background-repeat: no-repeat;
}
