.information__lead {
  .no__margin-padding();
  padding: 50px 0;
}

.information__suptitle {
  .no__margin-padding();
  margin-bottom: 50px;
}

.information__title {
  .no__margin-padding();
}

.information__text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.information__features-list {
  position: relative;

  padding-bottom: 325px;

  background-color: var(--grey);
}

.information__features-list::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 157px;
  height: 320px;

  background-image: url("../../img/index__images/features-phone.jpg");
  background-repeat: no-repeat;
}

.information__features-item--title {
  font-weight: 700;
  color: var(--black);
}
