// Intro.less

.intro {
  background-color: var(--dark-blue);
}

.intro__add-wrapper {
  min-height: 243px;
  padding-top: 28px;

  @media (min-width: @tablet-width) {
    position: absolute;
  }

  @media (min-width: @desktop-width) {
    padding-top: 34px;
  }
}

.intro__slogan {
  position: absolute;
  bottom: 586px;

  .no__margin-padding();

  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;

  color: var(--white);

  @media (min-width: @tablet-width) {
    bottom: 274px;

    width: 190px;

    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: @desktop-width) {
    width: 240px;

    font-size: 50px;
    line-height: 68px;
  }
}

.intro__link {
  padding: 15px 35px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  color: var(--white);

  border: 3px solid var(--white);
  border-radius: 29px;
  box-sizing: border-box;

  &:hover {
    color: var(--pink);
    background-color: var(--white);
  }

  &:active {
    color: var(--pink-with-opacity);
  }

  @media (min-width: @tablet-width) {
    padding: 15px 45px;
  }

  @media (min-width: @desktop-width) {
    padding: 15px 28px;

    font-size: 21px;
  }
}

.intro__list-wrapper {
  position: relative;

  min-height: 271px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 605px;
    left: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
  }

  @media (min-width: @desktop-width) {
    top: 416px;
    left: auto;
  }
}

.intro__list-wrapper--closed {
  @media (min-width: @tablet-width) {
    top: 349px;
  }

  @media (min-width: @desktop-width) {
    top: 416px;
  }
}

.intro__list-wrapper--opened {
  @media (min-width: @tablet-width) {
    top: 605px;
  }
}

.intro__list {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;

  .no__margin-padding();
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-bottom: 28px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 46px;
  }
}

.intro__item {
  .no__list-style-type();
}

.intro__description {
  .no__margin-padding();

  font-weight: 300;
  text-align: center;

  color: var(--white);

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}

.intro__item-image {
  &:hover {
    fill-opacity: 0.6;
  }

  &:active {
    fill-opacity: 0.3;
  }
}

.intro__item-image--android-size {
  width: 43px;
  height: 47px;
}

.intro__item-image--android-color {
  fill: var(--android);
}

.intro__item-image--apple-size {
  width: 47px;
  height: 56px;
}

.intro__item-image--apple-color {
  fill: var(--white);
}

.intro__item-image--windows-size {
  width: 44px;
  height: 41px;
}

.intro__item--apple {
  position: relative;
  top: 3px;
  left: 1px;

  @media (min-width: @tablet-width) {
    left: 4px;
  }

  @media (min-width: @desktop-width) {
    top: 1px;
    left: 5px;
  }
}

.intro__item--android {
  @media (min-width: @tablet-width) {
    position: relative;
    left: -2px;
  }
}

.intro__item--microsoft {
  position: relative;
  right: 2px;

  @media (min-width: @tablet-width) {
    right: 8px;
    top: -5px;
  }

  @media (min-width: @tablet-width) {
    top: -2px;
    left: -6px;
  }
}

.intro__button {
  display: flex;
  justify-content: center;

  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}
