.intro {
  background-color: var(--dark-blue);
}

.intro__add-wrapper {
  min-height: 271px;
  padding-top: 28px;

  @media (min-width: @tablet-width) {
    position: absolute;
  }
}

.intro__slogan {
  position: absolute;
  bottom: 610px;

  .no__margin-padding();

  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;

  color: var(--white);

  @media (min-width: @tablet-width) {
    bottom: 300px;

    width: 190px;

    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: @desktop-width) {
    width: 240px;

    font-size: 50px;
    line-height: 68px;
  }
}

.intro__link {
  padding: 10px 35px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  color: var(--white);

  border: 3px solid var(--white);
  border-radius: 29px;
  box-sizing: border-box;
}

.intro__list-wrapper {
  position: relative;

  min-height: 271px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 600px;
    left: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
  }

  @media (min-width: @desktop-width) {
    top: 420px;
    left: auto;
  }
}

.intro__list {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;

  .no__margin-padding();
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 58px;
  }
}

.intro__item {
  .no__list-style-type();
}

.intro__description {
  .no__margin-padding();

  font-weight: 300;
  text-align: center;

  color: var(--white);

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}

.intro__button {
  display: flex;
  justify-content: center;

  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}
