// Main-photo-block.less

.main-photo-block__intro {
  width: 250px;
  margin: 0 auto;

  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 360px;
  }
}

.main-photo-block__picture {
  position: relative;
}

.main-photo-block__picture::after {
  content: "Панорама дня";

  position: absolute;
  right: 0;
  top: 0;

  padding: 7px 17px;

  font-size: 14px;
  font-weight: 700;

  color: var(--white);
  background-color: var(--pink);
}

.main-photo-block__review-wrapper {
  margin-top: 0;

  background-color: var(--grey);
}

.main-photo-block__review {
  margin-top: 0;
}

.main-photo-block__author {
  font-weight: 700;
  font-style: normal;
}

.main-photo-block__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}
