.photos-list__item {
  background-color: var(--grey);
}

.photos-list__review {
  .no__margin-padding();
}

.photos-list__author {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
}

.photos-list__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}
