.reviews__item {
  .no__margin-padding();
}

.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;

  color: var(--black);
}

.reviews__text {
  line-height: 30px;
}
