// Slider.less

.slider__toggles {
  align-items: center;
}

.slider__toggle {
  box-sizing: content-box;
  width: 6px;
  height: 6px;
  padding: 0;

  border: none;
  border-radius: 50%;

  background-color: var(--extra-blue-with-opacity);

  &:hover {
    background-color: var(--light-blue);
  }

  &:active {
    background-color: var(--blue-with-opacity);
  }

  cursor: pointer;
}

.slider__toggle--current {
  background-color: var(--white);
  border: 3px solid var(--blue);

  &:hover {
    background-color: var(--white);
  }

  &:active {
    background-color: var(--white);
  }
}
