// Upload.less

.upload {
  @media (min-width: @tablet-width) {
    padding-top: 44px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 57px;
  }
}

.upload__wrapper {
  padding-top: 8px;

  @media (min-width: @tablet-width) {
    .no__margin-padding();
  }
}

.upload__subtitle {
  margin-bottom: 42px;

  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    .no__margin-padding();

    font-size: 18px;
  }
}

.upload__subtitle-wrapper {
  @media (min-width: @tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}

.upload__toggle-wrapper {
  position: relative;

  display: flex;
  flex-direction: row;

  width: 254px;
  margin: 0 auto 74px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    justify-content: space-between;

    .no__margin-padding();
    margin-bottom: 54px;
    width: 207px;
  }

  @media (min-width: @desktop-width) {
    width: 380px;
    margin-bottom: 134px;
  }
}

.upload__form {
  padding-top: 35px;

  @media (min-width: @tablet-width) {
    .no__margin-padding();
    padding-top: 0;
    margin-right: 11px;
    width: 260px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 60px;
    width: 410px;
  }
}

.upload__image {
  @media (min-width: @tablet-width) {
    width: 300px;
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
    margin-top: 6px;
  }
}

.upload__post {
  padding-bottom: 44px;

  background-color: var(--grey);

  @media (min-width: @tablet-width) {
    .no__margin-padding();
    padding-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 29px;

    background-color: transparent;
  }
}

.upload__background {
  @media (min-width: @desktop-width) {
    .container();
    padding-bottom: 50px;

    background-color: var(--grey);
  }
}

.upload__button-wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.upload__button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  color: var(--pink);
  background-color: transparent;

  border: 3px solid var(--pink);
  box-sizing: border-box;
  border-radius: 30px;

  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 183px;
  }
}

.upload__post-wrapper {
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;

    padding-top: 57px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 51px;
  }
}

.upload__post-button {
  padding: 16px 88px;
  margin-bottom: 11px;

  @media (min-width: @tablet-width) {
    .no__margin-padding();
    padding: 15px 0;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.upload__post-button:hover {
  background-color: var(--pink);
  color: var(--white);
}

.upload__post-button:active {
  color: var(--button-white-with-opacity);
}

.upload__discard-button {
  padding: 16px 101px;

  border: 3px solid var(--blue);
  color: var(--blue);

  opacity: 0.1;

  @media (min-width: @tablet-width) {
    .no__margin-padding();
    padding: 15px 0;
  }
}

.upload__discard-button:hover {
  opacity: 0.3;
}

.upload__discard-button:active {
  background-color: var(--blue);
  color: var(--button-white-with-opacity);
  opacity: 0.3;
}

.upload__range--hidden {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.upload__range--active {
  position: absolute;
  top: 84px;
  left: 7px;

  @media (min-width: @tablet-width) {
    position: static;
  }
}

.upload__toggle {
  display: flex;
  flex-direction: column;

  margin: 0 auto;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 253px;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-bottom: 24px;
  }
}

.upload__icon {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.upload__image-button {
  width: 48px;
  height: 48px;

  background-color: transparent;

  border: none;

  cursor: pointer;

  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.upload__image-icon--first-size {
  width: 44px;
  height: 44px;

  @media (min-width: @tablet-width) {
    width: 24px;
    height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 44px;
    height: 44px;
  }
}

.upload__image-icon--second-size {
  width: 48px;
  height: 43px;

  @media (min-width: @tablet-width) {
    width: 24px;
    height: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 48px;
    height: 43px;
  }
}

.upload__image-icon--third-size {
  width: 32px;
  height: 32px;

  @media (min-width: @tablet-width) {
    width: 16px;
    height: 16px;
  }

  @media (min-width: @desktop-width) {
    width: 32px;
    height: 32px;
  }
}

.upload__image-icon--color {
  fill: var(--blue);
  fill-opacity: 0.3;

  &:hover {
    fill-opacity: 0.5;
  }

  &:active {
    fill: var(--pink);
    fill-opacity: 1;
  }
}

.upload__image-icon--active {
  fill: var(--pink);
  fill-opacity: 1;

  &:hover {
    fill-opacity: 1;
  }
}

.upload__image-icon--first {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 11px;
    left: 0;
  }

  @media (min-width: @desktop-width) {
    top: 3px;
  }
}

.upload__image-icon--second {
  position: absolute;
  top: 2px;
  right: 103px;

  @media (min-width: @tablet-width) {
    left: 0;
    top: 13px;
  }

  @media (min-width: @desktop-width) {
    top: 4px;
  }
}

.upload__image-icon--third {
  position: absolute;
  top: 7px;
  right: 36px;

  @media (min-width: @tablet-width) {
    top: 15px;
    right: 30px;
  }

  @media (min-width: @desktop-width) {
    top: 9px;
    left: 6px;
  }
}

// Стилизация ползунка input[type="range"]

.upload__range {
  appearance: none;

  width: 240px;

  background-color: transparent;

  @media (min-width: @tablet-width) {
    width: 202px;
  }

  @media (min-width: @desktop-width) {
    width: 288px;
  }
}

.upload__range::-webkit-slider-runnable-track {
  height: 2px;

  background-color: var(--blue);
}

.upload__range::-webkit-slider-thumb {
  margin-top: -6px;
  width: 14px;
  height: 14px;

  background: var(--white);
  appearance: none;
  border: 2px solid var(--pink);
  border-radius: 50%;

  cursor: pointer;
}

.upload__range::-moz-range-track {
  height: 2px;

  background-color: var(--blue);
}

.upload__range::-moz-range-thumb {
  background: var(--white);

  border: 2px solid var(--pink);
  border-radius: 50%;

  cursor: pointer;
}

.upload__range::-webkit-slider-thumb:active {
  background: var(--pink);
}

.upload__range::-moz-range-thumb:active {
  background: var(--pink);
}

.upload__range--first::after {
  content: "";

  position: absolute;
  left: 0;
  top: 36px;

  width: 100%;
  height: 1px;

  background-color: var(--blue-with-opacity);

  @media (min-width: @tablet-width) {
    top: 58px;

    width: 275px;
  }

  @media (min-width: @desktop-width) {
    top: 61px;

    width: 410px;
  }
}

.upload__range--second::after {
  content: "";

  position: absolute;
  left: 0;
  top: 36px;

  width: 100%;
  height: 1px;

  background-color: var(--blue-with-opacity);

  @media (min-width: @tablet-width) {
    top: 131px;

    width: 275px;
  }

  @media (min-width: @desktop-width) {
    top: 133px;

    width: 410px;
  }
}

.upload__range--third::after {
  content: "";

  position: absolute;
  left: 0;
  top: 36px;

  width: 100%;
  height: 1px;

  background-color: var(--blue-with-opacity);

  @media (min-width: @tablet-width) {
    top: 201px;

    width: 275px;
  }

  @media (min-width: @desktop-width) {
    top: 61px;

    width: 410px;
  }
}
