.body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  background-color: var(--white);
  color: var(--blue);

  @media (min-width: @tablet-width) {
    min-width: 660px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.contacts__map {
  width: 100%;
  border: none;

  @media (min-width: @tablet-width) {
    height: 374px;
  }

  @media (min-width: @desktop-width) {
    height: 502px;
  }
}

.popup--show {
  display: block;
  animation: bounce 0.6s;
}

.popup--hidden {
  display: none;
}
